
.customers .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    height: 63rem;
}

.customers .box-container .box .box-img{
    width: 60%;
}

.customers-content{
    font-size: 1.5rem;
    line-height: 1.9;
    font-weight: 300;
    margin: 2rem 0;
}

.users{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 1rem 0;
}

.users-name{
    font-size: 2rem;
    color: var(--main-color);
}

.stars i{
    color: gold;
    margin: .8rem 0; 
    font-size: 1.3rem;
}

#navbar-list-item-review{
    border-color:#e84242;
}
#alt-navbar-list-item-review{
    background-color:#0e0e0e;
}